
html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
  }
  
main {
    overflow: hidden;
}
  
section {
    position: relative;
    width: 100%;
    float: left;
}
  
body {
    color: #2b2f52;
    font-family: 'Montserrat';
    font-size: 12px;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}
  
ul {
    list-style: none;
}
  
a,
a:hover {
    text-decoration: none;
}
  
a:hover {
    color: inherit;
}

a.primary-link {
    text-decoration: none;
    color: #464b69;
    border-bottom: 1px solid #000;
    font-weight: bold;
}

h1, h2, h3 ,h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

p {
    margin: 0;
    font-size: 16px;
}

.position-relative {
    position: relative;
}

.navbar-brand img {
    max-width: 257px;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-menu a {
    color: #000;
}

ul.nav-items {
    display: flex;
}

.nav-menu .nav-items li a {
    color: #2e3047;
    padding: 9px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu .nav-items li:last-child a {
    padding-right: 0;
}
.banner {
    height: calc(100vh - 83px);   
}
.sub.banner {
    height: auto;   
}
.slick-list, .slick-track {
    height: 100%;
}
.slider {
    background-size: cover !important;
    height: 100%;
}
.sub .slider {
    height: 390px;
}
.slider h1 {
    color: #fff;
    font-size: 4.5rem;
    line-height: 52px;
}
.sub .slider h1 {
    color: #2b2f52;
    line-height: 1;
    font-size: 4.2rem;
}
.slider p {
    color: #fff;
    font-size: 23px;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 10;
    outline: none;
}

.slick-prev {
    left: 82px;
}

.slick-next {
    right: 82px;
}

.slick-prev:before, .slick-next:before {
    font-size: 47px;
    line-height: 1;
    opacity: 1;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img.logo {
    max-width: 390px;
}

.primary-btn {
    background: #7b6b30;
    color: #fff !important;
    padding: 8px 24px;
    border: 2px solid #787154;
    border-radius: 10px;
}

.primary-heading {
    color: #2b2f52;
    font-size: 2.5rem;
    position: relative;
    padding: 0 25px;
}
.primary-heading span {
    position: relative;
    z-index: 2;
}
.primary-heading:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 12px;
    bottom: 3px;
    left: 0;
    background: #eeeeee;
    z-index: 1;
}
.video-section video {
    max-width: 694px;
    width: 100%;
}
footer {
    background: #2b2f52;
    color: #fbfeff;
}
.footer-logo {
    max-width: 210px;
    width: 100%;
    display: block;
}
.w-h {
    color: #fbfeff;
    font-weight: normal;
    display: table;
    border-bottom: 1px solid;
}
.f-nav li {
    margin-bottom: 5px;
}
.f-nav li a {
    color: #fbfeff;
    font-size: 1rem;
}
.ic-div i {
    font-size: 22px;
}
.ic-div p {
    font-size: 13px;
}
.social-media a {
    color: #fff;
    font-size: 24px;
}
footer .bottom-footer p {
    font-size: 0.6rem;
    line-height: 1.4;
}
.bg-section {
    background: #2b2f52;
    margin: 100px 0;
    color: #fff;
}
.bg-section p {
    font-size: 14px;
}
.bg-img {
    margin: -79px 0;
}
.team-m .primary-btn {
    padding: 9px 50px;
}
.team-info {
    min-height: 146px;
}
.bg-section.gra {
    background: transparent;
    color: #757575;
    margin: 0;
    position: relative;
}
.bg-section.gra:before {
    content: '';
    background: rgb(43,47,82);
    background: linear-gradient(90deg, rgba(43,47,82,1) 38%, rgba(255,255,255,1) 38%);
    height: 300px;
    position: absolute;
    width: 100%;
    top: 124px;
}
.team-p {
    font-size: 23px;
}
.team-txt .ic-div {
    font-size: 18px;
}
.team-txt .ic-div i {
    color: #2b2f52;
}
.team-txt p {
    margin-bottom: 20px;
}
.team-txt p:last-child {
    margin-bottom: 0;
}
.top-shadow {
    box-shadow: 1px -1px 4px 0 #ccc;
}
.pr-name {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgb(0 0 0 / 60%);
}
.pr-section:hover .pr-name {
    display: none;
}
.pr-detail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background: rgb(255 255 255 / 55%);
}
.pr-section:hover .pr-detail {
    display: flex;
}
.pr-list li {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    padding-left: 20px;
}
.pr-list li::before {
    content: '.';
    position: absolute;
    left: 0;
    line-height: 15px;
}
.content {
    color: #707070;
}
.list {
    text-align: left;
    display: table;
    margin: 0 auto;
    font-size: 15px;
}
.list li {
    margin-bottom: 8px;
}
.f-12 p {
    font-size: 13px;
}
.mobile-menu {
    display: none;
}
@media (min-width: 768px) {
.container {
    max-width: 100%;
}
}
@media (min-width: 1200px) {
    .container {
        max-width: 1310px;
    }
}
@media (max-width: 1200px) {
    .nav-menu {
        display: none;
    }
    .mobile-menu {
        display: block;
    }    
    .mobile-menu a.menu-icon {
        background: #2b2f52;
        padding: 9px 15px;
        color: #ffffff;
        font-size: 20px;
    }
    .mobile-menu ul {
        position: absolute;
        width: 275px;
        right: 0px;
        background: #2b2f52;
        top: 75px;
        padding: 0;
        display: none;
        z-index: 100;
        margin: 0;
    }

    .mobile-menu ul li {
        float: left;
        width: 100%;
    }

    .mobile-menu ul li a {
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
        font-size: 0.8rem;
        padding: 10px;
        width: 100%;
        float: left;
        line-height: normal;
    }

    .mobile-menu ul li a:hover {
        background: #122055;
        color: #fff;
    }

    .mobile-menu ul li a.call {
        background: #122055;
        border-radius: 12px;
        border: 2px solid #122055;
        color: #fff;
        padding: 6px 11px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        float: left;
        font-size: 16px;
        width: auto;
        position: absolute;
        bottom: 0;
        border-radius: 0;
        width: 100%;
        text-align: center;
    }

    .mobile-menu a.cross {
        position: absolute;
        right: 7px;
        z-index: 10;
        top: 7px;
        color: #fff;
        font-size: 14px;
    }
    .bg-section {
        margin: 0;
    }
    .bg-img {
        margin: 0;
    }
    .bg-section.team-info .container {
        padding-left: 0;
    }
    .team-m .primary-btn {
        padding: 9px 0px;
        width: 100%;
    }
    .team-info h4 {
        font-size: 1rem;
    }
    .bg-section.gra:before {
        display: none;
    }
    .pr-section .pr-name {
        display: none;
    }
    .pr-section .pr-detail {
        display: flex;
    }
}
@media (max-width: 768px) {
    .slider h1 {
        font-size: 3rem;
    }
    .slider p {
        font-size: 16px;
    }
    img.logo {
        max-width: 250px;
    }
    .top-footer {
        text-align: center;
    }
    .w-h {
        margin: 0 auto;
    }
    .footer-logo {
        max-width: 210px;
        width: 100%;
        display: block;
        margin: 0 auto 38px;
    }
    .top-footer .c-info {
        text-align: left;
    }
    .top-footer .c-info .d-flex {
        justify-content: center;
    }
    .social-media.text-right {
        text-align: center !important;
    }
    .bottom-footer .d-flex {
        flex-direction: column;
    }
    .sub .slider {
        height: 308px;
    }
    .sub .slider h1 {
        font-size: 3rem;
    }
    .team-m .primary-btn {
        padding: 9px 0px;
        width: 200px;
    }
    .team-txt .primary-heading {
        font-size: 1.5rem;
    }
    .team-p {
        font-size: 17px;
    }
    .team-txt .ic-div {
        font-size: 14px;
    }
    .team-txt p {
        font-size: 13px;
    }
    .bg-section.team-info .container {
        padding: 10px;
    }
    .bg-section.team-info h2.mb-3 {
        font-size: 1.5rem;
         margin-top: 19px;
    }
}
@media (max-width: 500px) {
    img.logo {
        max-width: 200px;
    }
    .sub .slider {
        height: 230px;
    }
    .sub .slider h1 {
        font-size: 2rem;
        line-height: 38px;
    }
    .pr-detail h3 {
        font-size: 1rem;
    }
    .pr-list li {
        font-size: 13px;
    }
}